*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

ul[class],
ol[class] {
  padding-left: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --gold-color: rgb(160, 123, 80);
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.5;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.primary__btn {
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.875em;
  line-height: 1.2;
  color: #FFFFFF;
  padding: 18px 35px;
  border: 1px solid var(--gold-color);
  transition: all 0.3s ease-in-out;
}

.primary__btn:hover,
.primary__btn:focus {
  color: var(--gold-color);
  border: 1px solid white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-color: #181617;
  background-image: url("../img/main-cat@2x.png");
  background-size: 1000px 700px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.header__inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header__container {
  padding-top: 45px;
  padding-bottom: 64px;
}

.crown--header {
  margin-bottom: 116px;
}

.header__social {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 0;
  padding-right: 113px;
  margin-top: auto;
}

.header__social::before {
  content: "";
  bottom: 127px;
  left: 6px;
  height: 77px;
  width: 2px;
  background-color: rgba(255, 255, 255, 0.61);
  margin-bottom: 29px;
}

.header__city {
  color: var(--gold-color);
  margin-bottom: 18px;
}

.header__desc {
  color: var(--gold-color);
  margin-bottom: 54px;
}

.header__title {
  max-width: 350px;
  font-family: "Yeseva One";
  font-size: 3.25em;
  line-height: 60px;
  color: #FFFFFF;
  margin-bottom: 32px;
}

.header__btn {
  width: 200px;
  margin-bottom: 110px;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.crown {
  fill: var(--gold-color);
  transition: all 0.3s ease-in-out;
}

.crown:hover,
.crown:focus {
  fill: white;
}

.social {
  align-items: center;
}

.social__icon {
  fill: white;
  transition: all 0.3s ease-in-out;
}

.social__icon:hover,
.social__icon:focus {
  fill: var(--gold-color);
}

.section__wraper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section__title {
  font-family: "Yeseva One", sans-serif;
  font-size: 2.25em;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.section__desc {
  font-weight: 300;
  font-size: 1em;
  text-align: center;
  color: #A07B50;
}

.section__pets {
  background-color: #1f1c1d;
}

.pets__wraper {
  padding-top: 124px;
}

.pets__desc {
  max-width: 516px;
  margin-bottom: 38px;
}

.pets__list {
  display: flex;
  flex-direction: row;
  width: 272px;
  justify-content: space-between;
}

.pets__tab-content-wraper {
  margin-top: 40px;
}

.pets__tab {
  text-decoration: none;
  background-color: transparent;
  outline: transparent;
  border: none;
  font-weight: 500;
  font-size: 1.125em;
  color: rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease-in-out;
}

.pets__tab:hover {
  cursor: pointer;
  color: #FFFFFF;
}

.pets__tab--active {
  color: #FFFFFF;
}

.pets__btn-wraper {
  display: flex;
  justify-content: center;
}

.pets__btn {
  width: 200px;
}

.pets__galery {
  max-width: 1066px;
  margin-bottom: 55px;
}

.pets__btn {
  margin-bottom: 84px;
}

.galery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 220px 220px;
  grid-gap: 30px;
}

.galery__item--big {
  grid-row: span 2;
}

.section__features {
  background-color: #1f1c1d;
}

.features__desc {
  max-width: 735px;
  margin-bottom: 20px;
}

.features__list {
  position: relative;
}

.features__item {
  position: relative;
  font-weight: 300;
  font-size: 0.875em;
  line-height: 1.5;
  color: #FFFFFF;
  max-width: 250px;
}

.features__item--live {
  text-align: right;
  position: absolute;
  top: 210px;
  left: -569px;
}

.features__item--view {
  text-align: right;
  position: absolute;
  top: 490px;
  left: -535px;
}

.features__item--training {
  text-align: left;
  position: absolute;
  top: 260px;
  right: -583px;
}

.features__item--weight {
  max-width: 140px;
  text-align: left;
  position: absolute;
  top: 520px;
  right: -405px;
}

.features__item--live::before,
.features__item--view::before {
  content: "";
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background: var(--gold-color);
  border-radius: 50%;
}

.features__item--training::before,
.features__item--weight::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background: var(--gold-color);
  border-radius: 50%;
}

.features__item--left {
  text-align: left;
}

.features__img {
  position: relative;
  z-index: 1;
}

.features__img__main {
  z-index: 10;
}

.features__img::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 519px;
  height: 519px;
  background-color: #151313;
  border-radius: 50%;
}

.features__img::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 631px;
  height: 631px;
  border-radius: 50%;
  border: 1px solid var(--gold-color);
}

.section__advantages {
  background-color: #151313;
}

.advantages__wraper {
  padding-top: 84px;
  padding-bottom: 100px;
}

.advantages__desc {
  margin-bottom: 48px;
}

.advantages__list {
  display: flex;
  justify-content: space-between;
}

.advantages__item {
  width: 30%;
  background: #1f1c1d;
  border: 20px solid #1f1c1d;
}

.advantages__item:hover {
  background: var(--gold-color);
}

.advantages__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.advantages__link > span {
  margin: 0 44px 24px;
  font-weight: 300;
  font-size: 1em;
  text-align: center;
  color: #FFFFFF;
}

.advateges__img {
  fill: var(--gold-color);
  margin-top: 48px;
  margin-bottom: 38px;
  stroke-width: 2;
  stroke: #1f1c1d;
}

.advanteges--vet {
  width: 97px;
  height: 107px;
}

.advantages__item:hover .advateges__img {
  fill: white;
  stroke: var(--gold-color);
}

.section__care {
  background-color: #1f1c1d;
  background-image: url("../img/cat-back@2x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.care__wraper {
  padding-top: 84px;
  padding-bottom: 100px;
}

.care__title {
  margin-bottom: 48px;
}

.care__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.care__item {
  width: 45%;
}

.care__link {
  position: relative;
  text-decoration: none;
  display: block;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid var(--gold-color);
  padding: 6% 12% 7% 10%;
  margin-bottom: 42px;
  transition: all 0.3s ease-in-out;
}

.care__link::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 10%;
  height: 100%;
  background-color: var(--gold-color);
  background-image: url("../img/arrow-right.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-left: 1px solid var(--gold-color);
  transition: all 0.3s ease-in-out;
}

.care__link:hover,
.care__link:hover::after {
  background-color: #151313;
}

.care__link-title {
  font-weight: bold;
  font-size: 1.375em;
  color: var(--gold-color);
  margin-bottom: 14px;
}

.care__link-content {
  font-weight: 300;
  font-size: 0.875em;
  color: white;
}

.section__teams {
  background-color: #151313;
}

.teams__wraper {
  padding-top: 84px;
  padding-bottom: 100px;
}

.section__faq {
  background-color: #1f1c1d;
}

.section__reviews {
  background-color: #1f1c1d;
}

.footer {
  background-color: #151313;
}

/*# sourceMappingURL=styles.css.map */
