.section__care {
    background-color: rgb(31, 28, 29);
    background-image: url('../img/cat-back@2x.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.care__wraper {
    padding-top: 84px;
    padding-bottom: 100px;
}