.section__wraper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section__title {
    font-family: 'Yeseva One', sans-serif;
    font-size: 2.25em;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.section__desc {
    font-weight: 300;
    font-size: 1em;
    text-align: center;
    color: #A07B50;
}